* {
    box-sizing: border-box;
    transition-duration: 1s;
    transition-property: width, height, opacity;
    transition-timing-function: ease;
}
html {
    background: #333 url("../images/kelly-sikkema-elz_jOsXTf4-unsplash.jpg") center / cover no-repeat;
    display: flex;
        justify-content: center;
    min-height: 100vh;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 2em auto;
    height: auto;
    width: 90%;
        max-width: 1080px;
}

/* Text Styling here
-------------------------------------------- */
h1, h2, h3, h4, h5 { 
    font-family: "Playfair Display", serif; 
    font-weight: bold;
}
h1 {font-size: 2.75em}
h2 {font-size: 2.25em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.25em;}

strong { font-weight: bold; }
em { font-style: italic;}

main h1 { margin-bottom: 2rem; }
main h2 { margin-bottom: 1.5rem;}
main p { line-height: 1.5em; margin: 1em auto; }

/* Link styling
-------------------------------------------- */
a { color: #60B0BF; text-decoration: none; }
a:hover { color: #80BF60; border-bottom: 1px solid #80BF60; }

/* Basic content box styling
-------------------------------------------- */
header, footer {
    background: #333;
    border: none;
    color: #eee;
    padding: 2em;
}
header { border-bottom: 0.25em solid #9F60BF; }
main {
    background: #eee;
    padding: 2em;
    min-height: 33vh;
}

footer { border-top: 0.25em solid #9F60BF; }

/* Navigation styling
-------------------------------------------- */
nav {
    background: #DAC4E6;
    overflow: auto;
    padding: 0 1em;
}
nav a {
    color: #333;
    display: inline-block;
    font-weight: bold;
    padding: 1em;
}
nav a:hover, nav a.active {
    background: #9F60BF;
    border: none;
    color: #eee;
}

/* Display Class Styling 
-------------------------------------------- */
.active { display: inline-block; }

/* Section Styling
-------------------------------------------- */
section { display: none; width: 100%;}

/* Palette Styling
-------------------------------------------- */
.palette {
    display: flex;
        align-content: center;
        justify-content: space-around;
}
    .palette.pastel .color {
        color: #333;
    }
    .palette .color {
        border: 1px solid black;
            border-right: none;
        color: white;
        display: inline-flex;
            align-items: center;
            justify-content: center;
        flex: 1 1 4em;
        height: 4em;
        margin: 1em auto;
        padding: 1em;
    }
        .palette .color:last-of-type {
            border-right: 1px solid black;
        }

/* Portfolio Styling - Projects
-------------------------------------------- */
#portfolio .projects {
    display: flex;
        flex-flow: column;
    margin-bottom: 1rem;
}
#portfolio .projects .item {
    background: #dfdfdf;
    display: flex;
        justify-content: stretch;
    margin: 0;
        margin-bottom: 1em;
    padding: 1em;
}
#portfolio .projects .image-link {
    display: inline-block;
    flex: 1 1 25%;
    margin-right: 1em;
}
#portfolio .projects .image-link:hover { 
    border-bottom-color: transparent; 
}
#portfolio .projects .image {
    top: 50%;
    margin-top: -30%;
}
#portfolio .projects .details {
    text-align: left;
    flex: 1 1 70%;
}
#portfolio .projects .details h4 {
    margin-top: 1rem;
}
#portfolio .projects .details p {
    font-weight: normal;
    margin: 0;
    margin-top: 0.5em;
    text-align: left;
}


/* Portfolio Styling - Gallery
-------------------------------------------- */
#portfolio .gallery {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.25);
    display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    height:16em;
    overflow: hidden;
    padding: 1em;
        padding-bottom: 0;
    position: relative;
}
    /* #portfolio .gallery .more {
        background-color: transparent;
        background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.75) 25%, white 80%);
        border: none;
        color: #60B0BF;
        font-size: 1.25em;
        font-weight: bold;
        padding: 1.5em;
        position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        text-align: center;
        width: 100%;
    } */
    #portfolio .gallery .more {
        background-color: transparent;
        border: none;
            border-bottom: 1px solid #ccc;
        color: #60B0BF;
        font-size: 1.25em;
        font-weight: bold;
        margin-top: -1rem;
        margin-bottom: 1em;
        padding: 0.5em 1em;
        position: relative;
        width: 100%;
    }
    #portfolio .gallery .more .material-icons {
        position: absolute;
            right: 0;
    }
    #portfolio .gallery .more .expand-more,
    #portfolio .gallery.active .more .expand-less {
        display: inline-block;
    }
    #portfolio .gallery .more .expand-less,
    #portfolio .gallery.active .more .expand-more {
        display: none;
    }
#portfolio .item {
    display: inline-block;
    flex: 0 1 22%;
    margin-right: 4%;
}
    #portfolio .item:nth-of-type(4n) {
        margin-right: 0;
    }
    #portfolio .item:hover { border-bottom: none; }
    #portfolio .item:hover .image { opacity: 0.5; }

    #portfolio .image { 
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
        position: relative; 
    }
        #portfolio .image:after {
            content: "";
            display: block;
            padding-bottom: 60%;
        }
        #portfolio .image span {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            position: absolute;
                left: 0;
                top: 0;
            width: 100%;
            vertical-align: bottom;
        }
    #portfolio .item p {
        display: block;
        font-weight: bold;
        margin-top: 0.5em;
        text-align: center;
    }
